[Unit]
Description=Deal Digger
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/dealdigger/deal_digger
ExecStart=/usr/bin/python3.6 /home/dealdigger/deal_digger/manage.py runserver 0.0.0.0:8888
Restart=always

[Install]
WantedBy=multi-user.target