{% extends 'base.html' %}

{% block content %}
<h2>{{ object.pdf_file.name }} - {{ object.get_status_display }}</h2>
  <h3>
    <a href="/document/{{ object.id }}/extract-text/"><button class="btn btn-primary">Извлечь текст</button></a>
    <a href="/document/{{ object.id }}/ask/"><button class="btn btn-primary">Спросить модель</button></a>
  </h3>
  <h4>Ответы:</h4>
  <ul class="list-group">
    {% for doc_answer in object.documentanswer_set.all %}
      <li class="list-group-item">Вопрос: {{ doc_answer.get_question_type_display }}</li>
      <li class="list-group-item">Ответ: {{ doc_answer.answer }}</li>
      <li class="list-group-item disabled">Необработанный ответ: {% if doc_answer.raw_answer %}{{ doc_answer.raw_answer }}{% else %} - {% endif %}</li>
      {% empty %}
      <li> Нет ответов для этого документа</li>
    {% endfor %}
  </ul>
  <h4>Извлеченный текст:</h4>
  <p>{{ object.text }}</p>
{% endblock %}